.container-flex {
    display: flex;
  }

  .text-color
  {
      color: #607D8B;
      margin: 0px 0px 12px;
      font-size: 14px;
  }

  .about-us h3
  {
      margin: 0px 0px 35px;
      color: #212529;
      font-size: 25px;
  }

.about-us h5 
{
    color: #455A64;
    margin: 0px 0px 14px;
}

.about-us
{
    background-color: #F9FAFB;
    padding: 50px 0px;
}

.fa-check-circle
{
    color: #FFFFFF;
}

.banner
{
    background-color: #CF9841;
    padding: 50px 0px;
    
}

.banner li{
    margin: 0px 15px 20px;
    font-size: 16px;
    color: #FFFFFF;
}

.choose
{
    padding: 50px 0px;
}

.head-text h3
{
    color: #263238;
    margin: 0px 0px 15px;
}

.card-img {
    width: 35px;
    height: 35px;
    margin-bottom: 18px;
}

.card-text {
    letter-spacing: 0;
    color: #455a64;
    font-size: 16px;
    margin-bottom: 0;
    font-weight: 700;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
}

.card {
    
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    max-width: 330px;
    min-width: 200px;
    height: 165px;
}

.work .card
{
        margin-left: 50px;
}

.card-col
{
    padding-bottom: 40px;
}

.card-head
{
    padding-bottom: 40px;
    text-align: center;
}

.hover-card:hover {
    color: #cf9841;
    background: #fffbf5 0 0 no-repeat padding-box;
    box-shadow: 0 4px 8px rgba(207,152,65,.2);
    border: 1px solid #cf9841;
    opacity: 1;
    cursor: pointer;
}

.work
{
    background-color: #CF9841;
    padding: 50px 0px;
    color: white;
}


.member img {
    width: 120px;
    height: 60px;
    margin: 15px;
}

.work .card
{
    height: 220px;
    max-width: 230px;
    max-height: 210px;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    
}



.right-cover p
{
    font-size: 14px;
}

.form-group
{
    padding-right: 35px;
    padding-left: 0px;
}

.required
{
    color: red;
}

.right-cover button {
    background-color: #cf9841;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
  }

  .right-cover .button
{
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: right;
    margin-right: 48px;
}

.right-cover .ct 
{
    text-align: right;
    width: 100%;
    margin-right: 48px;
}

  .right-cover .text-center
  {
   
  }
  .right-cover a
  {
      color: #cf9841;
  }


form {
    display: flex;
    flex-wrap: wrap;
    
}

.cover
{
    border-top: 30px solid #cf9841;
    display: flex;
    height: 520px;
    background: #f9fafb;
}


.cover label {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 14px;
    color: #454f5b!important;
}

.cover .btn-primary {
    width: auto;
    padding: 0 22px;
    height: 40px;
    line-height: 40px;
    background-color: #cf9841!important;
    border-radius: 3px;
    width: 100%;
    height: 36px;
    line-height: 21px;
    font-size: 14px;
    font-weight: 600!important;
    text-align: center;
    margin-top: 20px;
    background-image: none!important;
    border: none;
}

.carousel
{
    width: 100%;
    height: auto;
}




.cover .carousel-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}

.cover .carousel-inner {
    
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;
}

 body {
    font-family: "Nunito Sans",sans-serif!important;
 }



.bg 
{
    background-image: url("Poonawalla Finance Images/Group 4428@2x.png");
}



 .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.background
{
    background-color: black;
    width: auto;
}

.logo
{
    padding: 6px;
}


 
.v1 {
    border-left: 2px solid white;
    height: 25px;
    margin: 2px;
    padding-right: 40px;
  }



.down-nav
{
    vertical-align: middle;
}





.second-nav {
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.06);
    background-color: #000;
}

.second-nav .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1140px;
}




img, svg {
    vertical-align: middle;
}

.content {
    
    align-items: center;
    width: 68%;
    justify-content: flex-end;
    padding: 30px 0;
    background: #fff;
    position: relative;
    z-index: 2;
    border-radius: 28px 0 0;
    border-left: 37px solid transparent;
    height: 78px;
    font-size: 14px;
    margin-left: 100px;
}

.second-nav ul li
{
    color: #263238;
}

*, :after, :before {
    box-sizing: border-box;
}

.content:before {
    content: "";
    border-radius: 18px 0 0;
    border-left: 33px solid transparent;
    border-bottom: 65px solid #fff;
    position: absolute;
    left: -81px;
    bottom: 0;
    width: 48px;
}

.second-nav .content:after {
    content: "";
    border-radius: 0 0 25px 0;
    position: absolute;
    bottom: 19px;
    background: #000;
    width: 55px;
    height: 85px;
    left: -123px;
    transform: rotate(30deg);
    transform-origin: left bottom;
}


.check 
{
    padding-left: 10px;
    background-color: hsla(0,0%,100%,.6);
    position: absolute;
    bottom: 40px;
    left: 10px;
    width: 438px;
    z-index: 9;
    padding-top: 20px;
    padding-bottom: 20px;
}

.check label
{
    font-size: 14px;
    font-weight: 100;
}
.check p
{
    font-weight: 500;
    font-size: 18px;
}

.check ul
{
    padding-left: 0px;
}

.carousel-caption h2::first-letter {
    font-size: 200%;
  }

.carousel-caption p
{
    font-size: 24px;
}

input[type=radio   ]:not(old){
    width     : 1em;
    margin    : 0;
    padding   : 0;
    font-size : 1em;
    opacity   : 0;
  }
  input[type=radio   ]:not(old) + label{
    display      : inline-block;
    margin-left  : -1.9em;
    line-height  : 1.5em;
  }

.rd input[type=radio]+label:before {
    content: "";
    background: #f4f4f4;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    top: 2px;
    margin-right: 5px;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all .25s ease;
}
.rd input[type=radio]:checked+label:before {
    background-color: #9c792b;
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #9c792b;
}


.form-group
{
    display: inline;
    padding-left: 0px;
}
.rd 
{
    display: inline;
}


.footer
{
    background-color: #16191a;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer h4
{
    font-size: 20px;
}

.footer .c
{
    border-right: 1px solid grey;
    font-size: 12px;
}

.footer ul a
{
   color: white;
}

.footer-down 
{
    background-color: #383B3B;
    font-size: 12px;
    color: white;
    padding-bottom: 20px;
    padding-top: 20px;
}

.title-horizontal-line
{
    width: 40px;
    height: 3px;
    background: #cf9841 0 0 no-repeat padding-box;
    opacity: 1;
    border: none!important;
    position: relative;
    bottom: 15px;
}

.footer-down a
{
    padding-right: 20px;
}

.second-nav ul li
{
    display: inline;
    padding: 20px;
}

.footer .social-icon li
{
    display: inline;
}

.right-cover
{
    padding-top: 40px;
}

.progress-bar-container
{
    position: relative;
    min-height: 70px;
    max-width: 740px;
    margin: 20px 0;
}

.progress-bar-container ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
    display: flex;
}

.progress-bar-title ul li {
    text-align: center;
    position: absolute;
    top: -18px;
    font-size: 16px;
    color: #c4cdd5;
    width: 140px;
    margin: 15px 0 15px -70px;
}

.progress-bar-title .active{
    color: #263238;
}
.progress-bar-title ul li:first-child {
    margin-left: 0;
    text-align: left;
}

.progress-bar-line-percentage {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #c4cdd5;
    position: relative;
    top: 45px;
}




.progress-bar-container ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
    display: flex;
}
.progress-bar-numbering ul li {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    color: white;
    background-color: #dadee2;
    text-align: center;
    line-height: 34px;
    position: absolute;
    margin-left: -17px;
    top: 29px;
    box-shadow: 0 2px 4px rgba(0,0,0,.08);
}
.progress-bar-numbering .active .count {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9;
    font-size: 14px;
}
.progress-bar-numbering .active:before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: #cf9841;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;

    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 40px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }


  .nav-container
  {
    background-color: black;margin-top: 2px;
  }

  .nav-container nav
  {
    height: 30px;
  }

  .nav-container li
  {
    padding: 5px 2px;
  }

  .nav-container a
  {
    color: white; font-size: 14px;
  }

  .header 
  {
    padding-left: 120px; margin-left: 120px;
  }


  .right-cover .progress-upper
{
    font-weight: 600;
}

  .second-nav .container-flex
  {
    padding-left: 100px;
  }

  .cover img{
    opacity: 0.8; border-style: none; height: 450px;
  }

  .carousel-caption
  {
    color: black; text-align: left; position: absolute; top: 80px; left: 40px;
  }

  .carousel-caption p
  {
      font-size: 38px; margin-top: 32px; word-wrap: break-word; margin-bottom: 0;
  }

  .social-icon li
  {
    color: white;
  }
  